
.Confirm {
	background-color: red;
}
.matte-Popup-header{
	display: none;
}
.matte-Confirm-dialog {
	min-width: 300px;
}
.matte-Confirm-dialog Confirm-content {
	font-size: 1.3em;
	padding: 3em;
}
.matte-Confirm-dialog Confirm-actions {
	float: right;
}

