<child>
<h3>Child info</h3>
<ul class="unstyled">
	<li>First Name: <span class="child_specific_results"
		contenteditable="true">{{firstname}}</span></li>
	<li>Last Name: <span class="child_specific_results"
		contenteditable="true">{{lastname}}</span></li>
	<li>Date of Birth: <span class="child_specific_results"
		contenteditable="true">{{dateOfBirth}}</span></li>
	<li>ParticipantId: <span class="" contenteditable="true">{{participantId}}</span></li>
	<li ng-repeat="field in additionalFields"></li>
</ul>
</child>