#sandbox-frame {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
}

.montage-app-loaded {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
}

.montage-invisible{
  display: none;
}

.montage--disabled{
  opacity: .5;
}
