.TdfpStimulus {

}

 .ExperimenterButtons
  {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2 );
	/* IE6,IE7 */
	ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	/* IE8 */
	-moz-transform: rotate(-90deg); /* FF3.5+ */
	-o-transform: rotate(-90deg); /* Opera 10.5 */
	-webkit-transform: rotate(-90deg); /* Safari 3.1+, Chrome */
	height: 100%;
	width: 100%;
	position:fixed;
	right: 0;
     top: 0;
     bottom: 0;
	
}	

.Tdfp-score-buttons {
   float: right;
   text-align: right;
 }