.Stimulus {

}
.Stimulus-prime-image {
	width: 10%;
  position: absolute;
  right: 30%;

}

.Stimulus-choose-image {
	width: 25%;
}

.Stimulus-choose-area {

}

.Stimulus-touchable {
	
}

.Stimulus-previous-arrow { 
  background-color: red;
  float: left;
}
.Stimulus-next-arrow { 
  background-color: blue;
  float: right;
}
