@import url("../../stimulus.reel/stimulus.css");

.FourImageStimulus {

}

.FourImageStimulus .Stimulus-prime-image-area {
	min-height:20%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: absolute;
	top: -10%;
	opacity: .9;
}

.FourImageStimulus .Stimulus-prime-image-area img {
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}
.Stimulus-choose-area {
	/*background-color: #FFFFCC;
	border-radius: 150px;*/
}